/* for nomral screens */
.col-4 {
  width: 33%;
  height: 450px;
  float: left;
  padding-left: 1.041666%;
  padding-right: 1.041666%;
  border: 2px solid black;
}

img {
  width: 100%;
}
.desc {
border: 1px solid lightgrey;
  padding: 5px;
}

/* for smaller screens */
@media only screen and (max-width: 640px) {
  col-4 {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
  }
}
